
* {
  overflow: hidden;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: black;
}

.hidden {
  display: none;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.defaultText, .defaultButton {
  color: white;
  text-align: center;
  font-size: 20px;
}

.defaultButton {
  margin: 5px;
  width: 100%;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
}

.defaultButton:hover, .defaultButton:focus {
  outline: none;
  border-color: lightseagreen;
}

.defaultButton:active {
  outline: none;
  border-color: blue;
}

.container {
  position: absolute;
  background-color: black;
  padding: 10px;
  border: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
}

.blacklistButton {
  width: auto;
}

#stage, #availWeapons {
  text-align: center;
}

#weaponList {
  max-height: 50%;
  max-width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

#credits {
  font-size: 15px;
}
